@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #cccccc;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


/* Navbar */

.navbar-nav{
    margin: 0 54%;
  }


.texto{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 15px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 10px;
  }

  .texto:hover{
    background: #03e9f4;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
  

    

/* Index */



  .tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    text-align: center;
    font-size: 5.5rem;
}
  
 @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  .color-change-2x {
    animation: color-change-4x 3s linear infinite alternate both;
    padding: 11.9%;
}

 @keyframes color-change-4x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #fa26a0;
    }
    50%  {
        background: #66FF66;
      }
    100%  {
        background: #FFEB00;
      }
  }
  
  

/* Sobre mi */


  .container3{
    margin-bottom: 4%;
  }

  
  .firstcharacter {
    color: #903;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  p{
      text-align: center;
  }


  .hover-rotate {
    overflow: hidden;
    margin: 8px;
    min-width: 140px;
    max-width: 220px;
    width: 100%;
    border-radius: 100px;
    margin: 1% 40%;
  }
  
  .hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .hover-rotate:hover img {
    transform: scale(1.1) rotate(5deg);
  }

  .bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

/* Skills */

.body1{
  background-color: black;
}

.container2 {
    background-color: black;
    width: 100%;
    font-family: sans-serif;
    overflow: auto;
}

h1{
  text-align: center;
  color: white;
  margin-bottom: -3.5%;
}

div.col4{
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
}

.fa-html5{
   font-size: 12rem;
   color: orangered;
   
}

.fa-css3-alt{
    font-size: 12rem;
    color: orangered;
    
}

.fa-js-square{
    font-size: 12rem;
    color: orangered;
    
}

.hover-img {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 8px;
    max-width: 320px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
  }
  
  .hover-img:before,
  .hover-img:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 32px solid rgba(0, 0, 0, 0.5);
    border-bottom: 32px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
  }
  
  .hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .hover-img:hover:before,
  .hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  
  .hover-img:hover > img {
    opacity: 0.7;
  }
  
  .hover-img:hover figcaption {
    opacity: 1;
  }

  



/* Portfolio */


.port {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
  
}

.container1 {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-family: sans-serif;
  overflow: auto;
  font-family: 'Raleway', sans-serif;
}

.section{
    width: 99%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

div.col1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    padding: 1%;
    margin-left: 5%;
}

div.col2{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    padding: 1%;
    margin-left: 5%;
}

div.col3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    padding: 1%;
    margin-left: 5%;
}

.card {
    width: 300px;
    height: 320px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .card * {
    transition: 0.3s ease all;
  }
  
  .card img {
    margin: 0;
    width: 300px;
    height: 224px;
    object-fit: cover;
    display: block;
  }
  
  .card h3 {
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px;
  }
  
  .card .focus-content {
    display: block;
    padding: 8px 12px;
  }
  
  .card p {
    margin: 0;
    line-height: 1.5;
  }
  
  .card:hover img, .card:focus-within img {
    margin-top: -80px;
  }
  
  .card:hover h3, .card:focus-within h3 {
    padding: 8px 12px 0;
  }


  /* Botón */


  .pushUpBtn {
    padding: 12px 24px;
    background-color: #d2e603;
    color: black;
    border-radius: 6px;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    margin: 2% 0 0;
}

.pushUpBtn:hover {
    transform: translate3d(0px,-1px,0px);
    background-color: hsl(222, 100%, 92%);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}



/* Contacto */

.titulo{
  font-size: 3rem;
  text-align: center;
  width: 100%;
  
}


#comentarios{
  text-align: center;
}

h2 {
font-size: 3rem;
text-decoration: underline;
margin: -1% 0 1%;
font-family: 'Raleway', sans-serif;
}


.container{
  margin-top: 1rem;
 
}

/* Formulario */

.datos{
    width: 100%;
    text-align: center;
    
}

.mensaje2 {
  width: 80%;
  
}


form {
    border: 20px solid #52B882;
    padding: 8px;
    border-radius: 20px;
    background-color: #9cada4;
  }
  
  form:focus-within {
    background: #7CF0BD;
  }
  
  label {
    display: inline-block;
    width: 72px;
    margin-top: 1%;
  }
  
  input {
    margin: 4px;
  }


  /* Botón */

  .animated-border-button {
    background-color: #141414;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    margin: 2% 40%;
  }
  
  .animated-border-button:before,
  .animated-border-button:after {
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 24px;
  }

  .animated-border-button:before {
    border-top: 2px solid #141414;
    right: 0;
    top: -4px;
  }
  
  .animated-border-button:after {
    border-bottom: 2px solid #141414;
    bottom: -4px;
    left: 0;
  }
  
  .animated-border-button:hover:before,
  .animated-border-button:hover:after {
    width: 100%;
  }

/* Logos */

.logos{
  display: flex;
  justify-content: center;
  margin: 3%;
}

.logoF{
  margin: 0 3%;
}


.fa-facebook-square{
  font-size: 2rem;
}

.fa-instagram{
  font-size: 2rem;
}

.hover-shadow-box-animation {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  margin: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.hover-shadow-box-animation:hover,
.hover-shadow-box-animation:focus,
.hover-shadow-box-animation:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.2);
}



/* Footer */

.navyfoot{
    text-align: center;
    font-size: 2rem;
    margin-top: 4%;
}

.footer{
    margin-top: -2%;
    float: right;
}

.gradient-text {
    background: linear-gradient(#70D6FF, #00072D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 32px;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


